[Container]
Image=ghcr.io/avagordon01/prod:20241031
Network=host
AmbientCapabilities=CAP_SYS_ADMIN
StandardOutput=append

[Unit]
ConditionHost=%j

[Service]
ExecStart=/home/admin/build/strategy %i
AllowedCPUs=0-3
AllowedMemoryNodes=0
